<div class="container">
  <small class="text-muted mb-2">
    <small>
      Saudações, somos do Centro de Treinamento de Jiu-Jitsu Masters, localizado na cidade de Rio Grande do Piauí, na praça central. Nossa escola tem como objetivo ensinar os alunos não apenas no âmbito esportivo, mas também a formá-los como cidadãos de bem e crianças disciplinadas. O jiu-jitsu não apenas contribui para a defesa pessoal, mas também melhora o rendimento escolar dos praticantes.
      <br>
      Além disso, buscamos ampliar o acesso ao jiu-jitsu para o maior número possível de crianças e adolescentes, incluindo aqueles que se encontram em situação de vulnerabilidade e não têm condições financeiras para arcar com as aulas. Nosso compromisso é promover a inclusão social através do esporte.
    </small>
  </small>
  <hr>
  <br>
  {{#each posts}}
    <div class="card mb-3 md-4">
      <div class="card-header d-flex justify-content-between">
        <h6>
          {{id}}. <a href="/{{nome}}/{{id}}">{{titulo}}</a>
        </h6>
        <span class="text-muted">
          {{post_like}}
        </span>
      </div>
      <div class="card-body">
        <img class="card-img-top" src="/{{filename}}" alt="{{imagem}}">
      </div>
      <div class="card-footer">
        <p class="card-text d-grid gap-2">
          <button class="btn btn-outline-primary" onclick="location.href='/{{nome}}/{{id}}'">
            Ler mais...
          </button>
        </p>
      </div>
    </div>
  {{/each}}
</div>