<div class="container">
  {{#each post}}
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between">
        <span>
          <a href="/@{{nome}}">{{nome}}</a>
        </span>
        <span>
          {{post_like}}
        </span>
      </div>
      <div class="card-body">
        <img src="/{{filename}}" class="img-fluid rounded mx-auto d-block">
        <p class="card-text">
          {{{conteudo}}}
        </p>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <small>
          <small>
            {{createdAt}}
          </small>
        </small>
        <form action="/{{nome}}/{{id}}/curtir" method="post">
          <button class="btn btn-sm btn-outline-danger">
            Curtir
            <span class="badge bg-primary">{{post_like}}</span>
          </button>
        </form>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between text-muted">
        <i>Comentar</i>
        <span>
          <a href="/@{{nome}}">{{nome}}</a>
        </span>
      </div>
      <div class="card-body">
        <form action="/{{nome}}/{{id}}/comentar" class="container" method="post">
          <div class="mb-3">
            <textarea class="form-control" rows="3" style="height: 144px; resize: none;" name="comentario"></textarea>
          </div>
          <div class="mb-3 d-flex justify-content-end">
            <button type="submit" class="btn btn-outline-success mx-2">Comentar</button>
            <button type="reset" id="cancelComment" class="btn btn-outline-danger">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  {{/each}}
</div>
{{#each comentario}}
  <div class="container">
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between">
        <small>
          <a href="/@{{nome}}">{{nome}}</a>
        </small>
        <small>
          {{comment_like}}
        </small>
      </div>
      <div class="card-body">
        <p class="card-text">
          {{{comentario}}}
        </p>
        <details>
          <summary>
            Ver respostas
          </summary>
          <div class="p-2">
            <a href="/{{nome}}/{{post_id}}/comentario/{{id}}/respostas">Clique aqui.</a>
          </div>
        </details>
      </div>
      <div class="card-footer">
        <form action="/{{nome}}/{{post_id}}/comentario/{{id}}/responder" method="post">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <i>Resposta</i>
            </div>
            <div class="card-body">
              <textarea class="form-control" rows="3" style="height: 144px; resize: none;" name="resposta"></textarea>
            </div>
            <div class="card-footer d-flex justify-content-end">
              <button type="submit" class="btn btn-outline-success mx-2">Responder</button>
              <button type="reset" id="cancelResponse" class="btn btn-outline-danger">Cancelar</button>
            </div>
          </div>
        </form>
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-outline-primary" onclick="location.href='/{{nome}}/{{post_id}}/comentario/{{id}}/respostas'">Ver Respostas</button>
        </div>
      </div>
    </div>
  </div>
{{/each}}